<template>
  <div id="loans">
    <h1 class="title">Počítadlo průměrné půjčky</h1>
    <div class="result-area">
      <div v-if="isWorking === true" class="spinner">
        <span><img width="100" height="100" src="../assets/images/spinner.gif" /></span>
      </div>
      <div v-if="isDone === true" class="result">
        <h2>Pro míru rizika <span class="color-secondary">{{ currentRating }}</span><br> Zonky průměrně půjčí<br> <span class="color-primary">{{ averangeLoan | currencydecimal }} Kč</span></h2>
      </div>
    </div>
    <div>
      <p>Vyberte si míru rizika a zjistěte kolik Zonky průměrně půjčuje</p>
      <div class="controls">
        <button v-for="(rating, index) in ratings" :key="index" @mousedown="getAverageLoanAmount(rating)" @contextmenu.prevent="" class="button">
          {{ rating }}
        </button>
      </div>
    </div>
    <div v-if="errors">
      <p>{{ errors }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ShowAverageLoan',
    data () {
      return {
        ratings: ['A', 'AA', 'AAA', 'AAAA', 'AAAAA'],
        currentRating: null,
        isWorking: false,
        isDone: false,
        totalCount: 0,
        averangeLoan: 0,
        errors: null,
      }
    },
    methods: {
      getAverageLoanAmount (rating) {
        this.currentRating = rating
        this.isWorking = true
        this.isDone = false
        this.$http({
          url: `/loans/marketplace?fields=rating%2Camount&rating__eq=${rating}`,
          method: 'get',
          headers: {
            'X-Page': '0',
            'X-Size': '1'
          }
        }).then(response => {
          let pages = response.headers['x-total']
          this.$http({
            url: `/loans/marketplace?fields=amount&rating__eq=${rating}`,
            method: 'get',
            headers: {
              'X-Page': '0',
              'X-Size': pages
            }
          })
            .then(response => {
              let loans = response.data
              let initialValue = 0
              let sum = loans.reduce(function (accumulator, currentValue) {
                return accumulator + currentValue.amount
              }, initialValue)
              this.averangeLoan = sum / loans.length
              this.isWorking = false
              this.isDone = true
            })
        })
          .catch(error => this.errors = error.response);
      }
    },
    filters: {
      currencydecimal (value) {
        return value.toFixed(0)
      }
    }
  }
</script>

<style scoped>
  .title {
    color: #41B2BD;
    font-weight: 700;
  }
  .button {
    box-shadow: .2rem .2rem 0 0 rgba(0,0,0,.15);
    display: inline-block;
    transform: translate3d(-.2rem,-.2rem,0);
    transition: all .1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 1rem 1rem;
    min-width: 7rem;
    vertical-align: middle;
    font-family: Roboto Slab,serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    background-color: #e65637;
    border: none;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    margin: 0.5rem 0.5rem;
  }
  .button:hover {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 transparent;
  }
  .color-primary {
    color: #41B2BD;
  }
  .color-secondary {
    color: #e65637;
  }
  .result-area {
    min-height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
