<template>
  <div id="app">
    <a href="/" class="logo logo--default">
      <div class="logo__img logo--black-3"></div>
    </a>
    <ShowAverageLoan />
  </div>
</template>

<script>
import ShowAverageLoan from './components/ShowAverageLoan.vue'

export default {
  name: 'app',
  components: {
    ShowAverageLoan
  }
}
</script>

<style>
#app {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.logo {
  width: 300px;
  height: 75px;
  overflow: visible;
  display: inline-block;
}

.logo__img {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 300px;
  height: 75px;
}
.logo .logo--black-1 {
  background-image: url(./assets/images/zonky_cz_1.svg);
}
.logo .logo--black-2 {
  background-image: url(./assets/images/zonky_cz_2.svg);
}
.logo .logo--black-3 {
  background-image: url(./assets/images/zonky_cz_3.svg);
}
</style>
